* {
    background-color: aqua;
}

.header {
    background-color: darkslategray;
    width: 100%;
    height: 30px;
    padding: 30px;
    color: black;
    font-family: sans-serif;
    font-size: x-large;
    justify-content: space-between;
}

.navbar {
    background-color: lightgray;
}

.navbar ul {
    list-style: none;
    display: flex;
    display: flexbox;
    justify-content: center;
    
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar a:hover {
    background-color: chartreuse;
    border-radius: 200px;
}

/* .class_1 {
    display: flex;
    list-style: none;
    overflow: hidden;
} */

@media screen and (min-width: 480px) {
    #leftsidebar {
        width: 100;
        float: left;
    }
}

.ig_1 {
    width: 200px;
    height: 150px;
}

.ig_2,
.ig_3,
.ig_4 {
    width: 200px;
    height: 250px;
}

.my {
    width: 900px;
    height: 600px;
    transition: all;
    object-position: 7cm;
}